

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    right: 0;
    direction: rtl;
    left: auto;
    bottom: 0;
    width: 260px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #f96332;
    /*overflow-y: auto;*/
}

#header .profile .user {
    width: 70px;
    height: 70px;
    border-radius: 50%;
   background: lightgray;
    color: #fff;
    font-size: 25px;
    text-align: center!important;
    margin: 15px auto;
    padding-top: 6%;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #e3342f;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center!important;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #e3342f;
    color: #fff;
    text-decoration: none;
}

#main {
    margin-left: 300px;
}

@media (max-width: 992px) {
    #header {
        right: -300px;
    }
    #main {
        margin-left: 0;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #fff;
    padding-left: 14px;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}
.dashboard a{
    color: #000!important;
    font-size: 18px;
    text-align: center;
}
.dashboard:hover,.dashboard:hover a,.dashboard:hover i{
    background: rgba(0,0,0,.92);
    color: #fff!important;
    border-radius: 16px;
    transition: .3s ease-in-out;
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu li:hover > a i {
    color: #000;
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #e3342f;
    color: #fff;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    text-align: center!important;
    justify-content: center;
    line-height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    right: 0!important;
}
@media (max-width: 992px) {
    .mobile-nav-toggle{
        display: block;
    }
}
/*!*--------------------------------------------------------------*/
/*# Hero Section*/
/*--------------------------------------------------------------*!*/
i.fas.fa-angle-down.right_arrow.down,i.fas.fa-angle-right.right_arrow.right{
    display: block;
    margin-right: auto;
}
i.fas.fa-angle-right.right_arrow.right,.internal-link{
    display: none;
}

